* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main-container {
  background-color: #f7fafc;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}
